@page "/whoami"

<h3>Who Am I</h3>

@if (user == null)
{
    <div>User not resolve yet...</div>
}
else
{
    <div>
        Primary Identity: @(Ser(user.Identity))
    </div>
    <div>
        Claims Identities:
        <ul>
            @foreach (var id in user.Identities)
            {
                <li><pre>@(Ser(id))</pre></li>
            }
        </ul>
    </div>
    <div>
        Claims:
        <ul>
            @foreach (var cl in user.Claims)
            {
                <li><pre>@(Ser(cl))</pre></li>
            }
        </ul>
    </div>
}

<hr />

From DB:
<div>
    Identity User:
    @if (_identityUser != null)
    {
        @Ser(_identityUser)
    }
</div>
<div>
    Roles:
    <ul>
    @if (_userRoles != null)
    {
        foreach (var role in _userRoles)
        {
            <li>@role</li>
        }
    }
    </ul>
</div>
<div>
    Claims:
    <ul>
    @if (_userClaims != null)
    {
        foreach (var claim in _userClaims)
        {
            <li>@Ser(claim)</li>
        }
    }
    </ul>
</div>

@code {
}
